@media screen and (min-width: 1200px) {

    nav{    
        padding: 10px 20%;
    }

    .liste_cartes{
        display: none;
    }

    .liste_cartes_descktop{
        position: fixed ;
        display: flex;
        color: #fcf3e2;
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: calc(100vh - 80px);
        width: 30%;
        left: 8%;
        top: 75px;
        transition: 0.5s;
    }

    .origine{
        left: 50%;
        transform: translateX(-50%);
        width: 48%;
    }

    .section{
        position: relative;
        width: 55vw;
        left: 38%;
        margin: 10px ; 
    }


    .retour_presentation{
    padding-right: 7%;
    top: 88px;
    z-index: 15;
    transition: 0.5s;
    }


    .image_galerie{
    width: calc(55vw - 6vw - 20px);
    border-radius: 15px;
    }

    #menuLogo{
        display: none;
    }

    #menuLiens{
        display: flex;
    }

    #menuLiens a{
        margin-left: 2vw;
    }

    .section.setting{
        transform: translateX(-15%);
    }
    
    .liste_cartes_descktop.setting{
        transform: translateX(-25%);
    }
    
    .retour_presentation.setting{
        padding-right: 15%;
    }

    #setting{
        display: block;
        position: fixed;
        height: 0;
        width: 100%;
        z-index: 11;
    }

    #settingBtn{
        cursor: pointer;
        font-size: 30px;
        color: #fcf3e2;
        position: absolute;
        right: 20px;
        top: 19px;
    }
    
    #settingBackground{
        z-index: 1;
        position: absolute;
        height: 91.6vh;
        width: 13.7%;
        top: 79px;
        right: 0px;
        overflow: hidden;
    }
    
    #SB{
        margin: 0;
        position: sticky;
        display: flex;
        border-radius:  6px 0 0 6px;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.512);
        backdrop-filter: blur(10px);
        flex-direction: column;
        align-items: center;
        transition: 0.8s;
    }
    
    .apparition_setting{
        transform: translateX(0%);
    }
    
    .disparition_setting{
        transform: translateX(150%);
    }

    .themeBox{
        width: 5vw;
        height: 5vw;
        border-radius: 6px;
        box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
        margin: 2vw;
    }



}