
/* Section======================================================================================= */

.section {
    margin: 5px 10px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.512);
    border-radius: 6px;
    transition: 0.5s ease;
    font-family: "Roboto";
    display: none;
    flex-direction: column;
    opacity: 0;
    animation: apparitio_section 1s ease forwards;
    font-size: 1.8vh;
    backdrop-filter: blur(10px);
}

.section .titre_carte{
    text-align: center;
    border-radius:  6px 6px 0 0 ;
}

.retour_presentation{
    cursor: pointer;
    position: sticky ;
    height: 0;
    justify-content: end;
    font-size: 3vh;
    text-align: center;
    z-index: 10;
    padding-right: 30px;
    top: 82px; 
}

.flexX{
    display: flex;
}

.pasFlexX{
    display: none;
}

.retour_presentation i{
    line-height: 1.4;
    z-index: 100;
    border-radius: 50%;
    background:#FF5F4F;
    width: 4vh;
    height: 4vh;
    color: rgba(255, 255, 255, 0.805);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
}

.projet_code {
    position: relative;
    display: block;
    left: 10%;
    margin: auto;
    color: black;
    text-decoration:underline;
}

#Mon_experience a img {
    width: 80%;
    border-radius: 10px;
}

#logiciels .ligne_logo {
    flex-wrap: wrap;
}

#logiciels h3{
    text-align: center;
}

@keyframes apparitio_section {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}

.ligne_section{
    margin: 0;
    padding: 0 3vw 20px 3vw  ;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(252,252,252,0) 0%, rgba(3, 7, 18, 0.045) 100%);
    overflow: hidden;
} 




/* =======================================================================================Section */


/* Galerie carousel============================================================================== */


.galerie { 
  display: flex;
  background: rgba(235, 235, 235, 0.636);
  width: 100%;
  border-radius:20px;
  margin: 0;
  padding: 0;
  justify-content: center;
  transition: 0.1s;
}

.galerie .wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.galerie .slider{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: 0.2s;
}

.image_galerie{
    width: calc(98vw - 55px);
    border-radius: 15px;
}

.galerie .slides{
    list-style: none;
    margin: 10px;
}

.logo_youtube{
    position: absolute;
    width: 100%;
    top: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.galerie .fa-youtube{
    color: rgba(255, 255, 255, 0.72);
    font-size: 12vw;
    z-index: 15;
    right: 5px;
    height: 100%;

    transition: 0.6s;
}

.galerie .fa-youtube:hover{
    color: #c4302b;
    cursor: pointer;
}

.button_galerie{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    top: -2%;
    margin: auto;
    font-size: 50px;
    color: #000000de;

}

.button_galerie p {
    font-size: 1.8vh;
}

.button_galerie .fa-chevron{
    position: absolute;
    z-index: 10;
}

 .fa-chevron-left:hover{
    color: #888; 
    cursor: pointer;
}
.fa-chevron-right:hover{
    color: #888; 
    cursor: pointer;
}


.player_video{
    position: sticky;
    top: 0;

    z-index: 20;
    background-color: #030712d0;
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 40px;
}

.player_video i:hover{
        color: #888; 
    cursor: pointer;
}
  

/* ==============================================================================Galerie carousel */
