@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --primary-200:#81b6f2 ;
    --primary-600:#233A5F ;
    --primary-900:#252773 ;
    --primary-gradient: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    --primary-gradient-40: linear-gradient(60deg, rgba(84,58,183,0.1) 0%, rgba(0,172,193,0.1) 100%);
    scroll-behavior: smooth;
    color: var(--primary-900) ;
    position: relative;
    --hero-height:150vh;

    @media (max-width:1024px) {
        --hero-height:130vh;
    }

    .font-primary {
        font-family: 'Mustica Pro';
    }
    .font-secondary {
        font-family: 'Roboto';
    }
    .title-1 {
        font-family: 'Mustica Pro';
        font-size: 8vw;
        margin-block:0;
        line-height: 1;
    }
    .title-2 {
        font-family: 'Mustica Pro';
        font-size: 100px;
        font-weight: 700;
        margin-block:0;
        line-height: 1;
    }
    .title-3 {
        font-family: 'Mustica Pro';
        font-size: 6vw;
        margin-block:0;
        line-height: 1;
    }
    .title-4 {
        font-family: 'Mustica Pro';
        font-size: 80px;
        margin-block:0;
        line-height: 1;
    }
    .title-5 {
        font-size: 70px;
        margin-block:0;
        line-height: 1;
    }
    .title-6 {
        font-size: 40px;
        margin-block:0;
        line-height: 1;
    }
    @media (max-width:768px) {
        .title-1 {
            font-size: 8vw;
        }
        .title-2 {
            font-size: 80px;
        }
        .title-3 {
            font-size: 70px;
        }
        .title-4 {
            font-size: 60px;
        }
        .title-5 {
            font-size: 50px;
        }
        .title-6 {
            font-size: 20px;
        }
    }
    .container {
        margin-inline: auto;
    }
    .scroll-driven {
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-duration: 1ms;
    }
    .btn-primary {
        color: white;
        background:var(--primary-900) ;

        .icon {
            background:var(--primary-200) ;
            & svg {
                color:var(--primary-900) ;
            }
        }
        &[data-is-active="true"],
        &:hover {
            color: var(--primary-900);
            background:white ;

            .icon {
                background:var(--primary-900) ;
                & svg {
                    color:var(--primary-200) ;
                }
            }
        }
        &[data-is-active="true"] {
            outline: inset 1px var(--primary-900);
        }
    }
    .btn-secondary {
        color: white ;
        background: rgba(255, 255, 255, 0.15);

        .icon {
            background:var(--primary-900) ;
            & svg {
                color:var(--primary-200) ;
            }
        }
        &:hover {
            color: var(--primary-900);
            background:white ;

        .icon {
            background:var(--primary-200) ;
            & svg {
                color:var(--primary-900) ;
            }
        }
        }
    }
    @supports (animation-timeline: view(block)) {
        @media (min-width:1024px) {
            .image-scroll {
                scale: 1.2;
                animation-name: image-scroll-anim;
                animation-timing-function: linear;
                animation-fill-mode: both;
                animation-timeline: view(block);
                animation-duration: 1ms;
                animation-range: cover 0% cover 100%;
            }
        }
    }
}