@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mustica Pro' ;
    src: url(/src/assets/font/MusticaPro-SemiBold.woff2);
}
html {
    scroll-behavior: smooth;
}

body {
    --menu-height:72px;
    @apply text-primary-900 relative scroll-smooth;

    .title-1 {
        @apply font-primary text-[8vw] mx-0 leading-none;
    }
    .title-2 {
        @apply font-primary text-[50px] md:text-[100px] font-bold mx-0 leading-none;
    }
    .title-3 {
        @apply font-primary text-[40px] md:text-[6vw] mx-0 leading-none;
    }
    .title-4 {
        @apply font-primary text-[30px] md:text-[80px] mx-0 leading-none;
    }
    .title-5 {
        @apply font-primary text-[20px] md:text-[70px] mx-0 leading-none;
    }
    .title-6 {
        @apply text-[20px] md:text-[20px] mx-0 leading-none;
    }
    .container {
        @apply mx-auto;
    }
    .scroll-driven {
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-duration: 1ms;
    }
}

@supports (animation-timeline: view(block)) {
    @media (min-width:768px) {
        .image-scroll {
            scale: 1.2;
            animation-name: image-scroll-anim;
            animation-timing-function: cubic-bezier(.52,-0.05,.03,.78);
            animation-fill-mode: both;
            animation-timeline: view(block);
            animation-duration: 1ms;
            animation-range: cover 0% cover 100%;
        }
        .fade-in {
            animation-name: section-fade-in;
            animation-timing-function: cubic-bezier(.52,-0.05,.03,.78);
            animation-fill-mode: both;
            animation-timeline: view(block);
            animation-duration: 1ms;
            animation-range: entry-crossing 0% cover 30%;
        }
    }
}
@keyframes image-scroll-anim {
    from {
        transform: translateY(-10%);
    }
    to {
        transform: translateY(10%);
    }
}
@keyframes section-fade-in {
    from {
        transform: translateY(20%);
        opacity: 0;
        filter: blur(4px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}