@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mustica Pro' ;
    src: url(/src/assets/font/MusticaPro-SemiBold.woff2);
}

body {
    --primary-200:#81b6f2 ;
    --primary-600:#233A5F ;
    --primary-900:#252773 ;
    --primary-gradient: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    --primary-gradient-40: linear-gradient(60deg, rgba(84,58,183,0.1) 0%, rgba(0,172,193,0.1) 100%);
    scroll-behavior: smooth;
    color: var(--primary-900) ;
    position: relative;
    --hero-height:150vh;

    @media (max-width:1024px) {
        --hero-height:130vh;
    }

    .title-1 {
        @apply font-primary text-[8vw] mx-0 leading-none;
    }
    .title-2 {
        @apply font-primary text-[80px] md:text-[100px] font-bold mx-0 leading-none;
    }
    .title-3 {
        @apply font-primary text-[870px] md:text-[6vw] mx-0 leading-none;
    }
    .title-4 {
        @apply font-primary text-[60px] md:text-[80px] mx-0 leading-none;
    }
    .title-5 {
        @apply font-primary text-[50px] md:text-[70px] mx-0 leading-none;
    }
    .title-6 {
        @apply text-[20px] md:text-[40px] mx-0 leading-none;
    }
    .container {
        margin-inline: auto;
    }
    .scroll-driven {
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-duration: 1ms;
    }
}

@supports (animation-timeline: view(block)) {
    @media (min-width:768px) {
        .image-scroll {
            scale: 1.2;
            animation-name: image-scroll-anim;
            animation-timing-function: linear;
            animation-fill-mode: both;
            animation-timeline: view(block);
            animation-duration: 1ms;
            animation-range: cover 0% cover 100%;
        }
        .fade-in {
            animation-name: section-fade-in;
            animation-timing-function: linear;
            animation-fill-mode: both;
            animation-timeline: view(block);
            animation-duration: 1ms;
            animation-range: entry-crossing 0% cover 30%;
        }
    }
}

@keyframes section-fade-in {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}