        /* background:linear-gradient(-2deg, rgb(255, 255, 255) 39.7%, rgba(0, 0, 0, 0) 40%), linear-gradient(89.16deg, #072038 1.27%, #0A355F 99.82%); */

    /* main====================================================================== */


    li{
        list-style: none;
    }

/* Meet the future of your organization today-------------------------------------------------------- */


#meetTheFutur{
    background:linear-gradient(-3.5deg, rgb(255, 255, 255) 9.9%, rgba(0, 0, 0, 0) 10%), linear-gradient(89.16deg, #072038 1.27%, #0A355F 99.82%);
    height: 1000px;
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#meetTheFutur .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: calc(100vw - 160px);
    height: 630px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

#meetTheFutur .left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white ;
}

#meetTheFutur h1{
    font-size: 72px;
    line-height: 89px;
    height: 80px;
    margin: 0;
    font-family: 'Outfit';
    font-weight: 600;
    overflow: hidden;
}

#meetTheFutur h1 span{
    transform: translateY(100%);
    display: block;
}

#meetTheFutur h1:nth-child(1) span{
    animation: upTitle 0.4s 0.3s forwards;
}

#meetTheFutur h1:nth-child(2) span{
    animation: upTitle 0.4s 0.4s forwards;
}

#meetTheFutur h1:nth-child(3) span{
    animation: upTitle 0.4s 0.5s forwards;
}

#meetTheFutur h1:nth-child(4) span{
    animation: upTitle 0.4s 0.6s forwards;
}



@keyframes upTitle {
  from {
    transform: translateY(100%);
  }
  
  to{
    transform: translateY(-20%);
  }
}




#meetTheFutur .right img{
    height: 456px ;
}

.logoClients{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titleColor{
    color: #26C1D9 ;
}

#textSlide{
    transform: rotate(-3.5deg);
}

.textSlide {
    width: 16000px;
    margin-top: 90px;
    position: relative;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 160px;
    text-align: center;
    text-transform: uppercase;
    color: #26c1d9;
    animation: slideText 50s linear infinite;
}

@keyframes slideText {
    from{
        transform: translate(1450px);
    }
    to{
        transform: translate(-6700px);
    }  
}

.textSlide span{
    /* -webkit-text-stroke: 2px #26c1d9; */
    /* color: rgba(0, 0, 0, 0); */
    /* j'ai pas de meilleur solution avec cette police pour avoir juste la bordure */
    color: #082a4b;
    text-shadow: 2px 0 0 #26c1d9, 2px 2px 0 #26c1d9, 0 2px 0 #26c1d9, -2px 2px 0 #26c1d9, -2px 0 0 #26c1d9, -2px -2px 0 #26c1d9, 0 -2px 0 #26c1d9, 2px -2px 0 #26c1d9;

}

.talk h4{
    width: 90px;
}


/* --------------------------------------------------------Meet the future of your organization today */


/* Get out of the chaos-------------------------------------------------------------------------------- */

#chaos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.computerScreen{
    position: absolute;
    height: 0;
}

#chaos img{
    width: 1062px;
    margin-top: 152px;
    z-index: 5;
    position: relative;
}

#chaos .content{
    display: flex;
    flex-direction: row;
    width: 1062px ;
    margin-bottom: 300px;
}

#chaos .left{
    width: 50%;
}

#chaos .left h1{
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    color: #072038;
    margin: 0;
}

#chaos .right{
    width: 50%;
}

#chaos .right p{
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #072038;
}

.discover h4{
    width: 200px;
}

.discover a{
    width: 200px;
}

.discover{
    width: 165px;
}

.discover:hover{
    width: 200px;
}
/* --------------------------------------------------------------------------------Get out of the chaos */

/* How we help tackle these challenges?----------------------------------------------------------------- */

#challenge{
    background:linear-gradient(-3.5deg, rgb(255, 255, 255) 6.9%, rgba(0, 0, 0, 0) 7%), linear-gradient(89.16deg, #072038 1.27%, #0A355F 99.82%);
    padding-top: 340px ;
    padding-bottom: 320px ;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#challenge .title{
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;

}

#challenge .card{
    background-color: #fff;
    width: 90vw ;
    height: 800px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    color: #000;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#challenge .card .text{
    padding-right: 70px;
    width: 480px;
}

.text h1{
    margin-top: 71px;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
}

.text h1 img{
    height: 38px;
    margin-right: 24px ;
}

#challenge ul {
    margin-top: 32px;
    margin-bottom: 42px;
    padding: 0;
}

#challenge li {   
    height: 84px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
    border-radius: 10px ;
    transition: 0.2s;
}

#challenge li:hover{
    background-color: #F0FDFF;
}

#challenge li:hover i{
    background-color: rgb(255, 255, 255);
}



#challenge li i{
    margin: 16px;
    background-color: #F0FDFF;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 2.54;
    border-radius: 5px ;
    cursor: grab;
}

/* datafactory-------------------------------- */

#dataFactory .illustration{
    margin: auto;
    height: 100%; 
}

#dataFactory .text{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 480px;
}

.solution h4{
    width: 220px;
}

.solution a{
    width: 220px;
}

.solution{
    width: 175px;
}

.solution:hover{
    width: 225px;
}


/* --------------------------------datafactory */


/* propilot------------------------------------ */


#propilot .text {
    margin-left: 64px;
}

#propilot .illustration{
    right: 0;
    height: 100%;
}

.propilot h4{
    width: 260px;
}

.propilot a{
    width: 260px;
}

.propilot{
    width: 230px;
}

.propilot:hover{
    width: 270px;
}

/* ------------------------------------propilot */

/* -----------------------------------------------------------------How we help tackle these challenges? */


/* They trust Pilot'in---------------------------------------------------------------------------------- */

#trust{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/assets/img/shape-dot-white-bg.png);
    background-repeat: no-repeat;
    background-position: right 0;
    padding-bottom: 50px;
}

#trust h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 45px;
    text-align: center;
}

#trust h1 span{
    font-weight: 400;
    font-size: 40px;
}

#trust .card{
    background-color: #072038;
    width: 90vw ;
    height: 600px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    color: #000;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#trust .left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 630px;
    height: 100%;
    overflow: hidden;
}

#trust .left img{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0) 10%, rgba(7,32,56,1) 85%);
    z-index: 0;
    transition: 0.3s;
}



#player{
    position: absolute;
    z-index: 2;
}

#afterPlayer{
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(7,32,56,1) 90%);    
    width: 90px;
    z-index: 2;
    transform: translateX(-70px);
}

#galleryVideo.activeR{
    animation: activeImgR 1s ease forwards;
}

#galleryVideo.activeL{
    animation: activeImgL 1s ease forwards;
}

#galleryVideo.unactiveR{
    animation: unactiveImgL 1s ease forwards reverse;
}

#galleryVideo.unactiveL{
    animation: unactiveImgR 1s ease forwards reverse;
}


@keyframes activeImgR {
   from{
    transform: translateX(1000%);
} 
to{
    transform: translateX(0%);
   }
}

@keyframes activeImgL {
   from{
    background-position: -10000%;
} 
to{
    background-position: 0%;
   }
}

@keyframes unactiveImgR {
   from{
    transform: translateX(1000%);
} 
to{
    transform: translateX(0%);
   }
}

@keyframes unactiveImgL {
   from{
    background-position: -10000%;
} 
to{
    background-position: 0%;
   }
}

#counterCard {
    display: flex;
    flex-direction: row;
    width: 80px;
    margin-top: 40px;
}

#counterCard div{
    width: 10px;
    height: 9px;
    background: #A0BDC0;
    border-radius: 14px;
    margin-right: 10px;
    flex-grow: 0;
    transition: 0.3s;
}

#counterCard .active{
    flex-grow: 1;
    background: #26C1D9;
}

#trust .left i{
    font-size: 60px ;
    color: #26C1D9 ;
    background-color: white;
    border-radius: 50%;
    transition: 0.5s;
}

#trust .left i:hover{
    scale: 1.5;
}


#galleryImg.active{
    animation: activeContent 1s  forwards;
    opacity: 0;
}

#galleryAuthor.active{
    animation: activeContent 1s 0.1s forwards;
    opacity: 0;
}

#galleryText.active{
    animation: activeContent 1s 0.2s  forwards;
    opacity: 0;
}

#galleryImg.unactive{
    animation: activeContent 1s ease forwards reverse;
    opacity: 100%;
}

#galleryAuthor.unactive{
    animation: activeContent 1s ease  0.1s forwards reverse;
    opacity: 100%;
}

#galleryText.unactive{
    animation: activeContent 1s ease 0.2s forwards reverse;
    opacity: 100%;
}



@keyframes activeContent {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

#trust .right{
    height: 70%;
    width: 50%;
    margin: auto;
}

#trust .right .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#trust .right img{
    width: 100px;
}

#trust .right h3{
    font-weight: 500;
    font-size: 20px;
    color: #26C1D9;
}

#trust .right p{
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    width: 500px;
    margin-bottom: 10px;
    margin-top: 0;
}

#trust .right i {
    width: 60px;
    height: 60px;
    font-size: 20px ;
    text-align: center;
    line-height: 3;
    color: #ffffff ;
    border-radius: 50%;
    border: white 1px solid; 
    margin-right: 20px ;
    cursor: pointer;
    transition: 0.3s;
}

#trust .right i:hover{
    background-color: white;
}


/* ----------------------------------------------------------------------------------They trust Pilot'in */


/* Nos articles de blog---------------------------------------------------------------------------------- */


#article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#article h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #072038;
}

#article  h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    width: 846px;
    color: #072038;
    margin-top: 0;
    margin-bottom: 40px;
}

#article .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw ;
}

#article article{
    width: 350px;
    padding: 32px 24px;
    border: 1px solid #A0BDC0;
    border-radius: 15px;
    height: 100%;
    transition: 0.3s;
    margin-top: auto;
}

#article article:hover{
    border: 1px solid #a0bdc000;
    background-color: #F0FDFF;
}

#article .tagList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    gap: 10px;
    width: 84px;
    height: 20px;
    border: 1px solid #26C1D9;
    border-radius: 5px;
    color: #26C1D9 ;
    cursor: pointer;
    margin: 0;
    transition: 0.3s;
}

#article .tagList:hover{
    background-color: #26C1D9 ;
    color: rgb(252, 252, 252);

}

article h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #072038;
    margin-top: 30px;
}

article p {
    overflow: hidden;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #072038;
    width: 362.67px;
    height: 138px;
    margin-top: 30px;
}

article .author{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}

.author img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author h4{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #072038;
    width: 240px;
    margin-left: 10px;
}

.author i {
    width: 50px;
    height: 50px;
    font-size: 20px ;
    text-align: center;
    line-height: 2.5;
    border-radius: 50%;
    border:  1px solid; 
    cursor: pointer;
    transition: 0.3s;
}

.author i:hover{
    background-color: #000;
    color: rgb(255, 255, 255);
}


.articleBtn{
    margin-top: 30px;
    width: 145px;
}

.articleBtn h4{
    width: 130px;
}

.articleBtn a{
    width: 190px;
}

.articleBtn:hover{
    width: 190px;
}



/* ----------------------------------------------------------------------------------Nos articles de blog */

/* Ready to meet the future of your organization?-------------------------------------------------------- */

#ready{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#ready .card{
    background-color: #072038;
    width: 90vw ;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #000;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

#ready img{
    height: 100%;
}

#ready .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ready .content{
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ready h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #26C1D9;
    margin-bottom: 20px;
}

#ready h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    width: 592px;
    margin: 0;
    margin-bottom: 20px;
}

.book{
    width: 120px;
}

.book h4{
    width: 160px;
}

.book a{
    width: 160px;
}

.book:hover{
    width: 160px;
}





/* --------------------------------------------------------Ready to meet the future of your organization? */


/* parallaxe----------------------------------------------------------------------------------------- */

.parallaxe{
    position: relative;
    height: 0;
    width: 100%;
    display: flex;
}

.pRight{
    justify-content: flex-end;
    z-index: -1;
}

.pLeft{
    justify-content: flex-start;
    z-index: 1;
    opacity: 90%;
}

.parallaxe img{
    width: initial;
    height: 300px;
    position: absolute;
    transition: 1s;
}



/* -----------------------------------------------------------------------------------------parallaxe */











    /* ======================================================================main */